# Xcode
*.xcodeproj
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xccheckout
*.xcscmblueprint
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
.Trashes

# Swift
*.swiftmodule
*.swiftdoc
